body {
  font-size: 14px;
}

.wrapper_01 {
  width: 1100px;
  margin: 0 auto;
}

.wrapper_02 {
  width: 980px;
  margin: 0 auto;
}

/* 精灵图图标优化写法 */
.topbar_sprite {
  display: inline-block;
  background-image: url(../img/topbar.png);
}
.topbar_icon_hot {
  width: 28px;
  height: 19px;
  background-position: -190px 0;
}